@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');



/*  HEADER E NAC  */
.header-geral {
  background-color: #0057DF;
  height: 80px;
}

.logo a {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 10px;
}

#agendar-servico {
  color: #FFB800;
  border-bottom: 7px solid #FFB800;
  font-weight: 700;
  line-height: 2;
  position: relative;
  top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
}

#meus-agendamentos {
  color: white;
  height: 60px;
  font-weight: 700;
  line-height: 2;
  position: relative;
  top: 10px;  
  font-size: 20px;
  
}

/* FORMULARIO */



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

}


.form-signin label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: 1.1rem;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*   footer    */
.img-footer {
  width: 200px;
}

.opcao:hover {
  color: rgb(174, 174, 174);
}

.footer-item {
  background-color: #D9D9D9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 100px;

}

.texto-footer {
  font-family:'Encode Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #00213E;
  text-align: end;
  line-height: 5px;
}
.texto1{
  padding-top: 15px;
}