@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* BARRA DE NAVEGAÇÃO */
.header-inteiro {
    background-color: #0057DF;
    height: 80px;
}
.navbar{
    background-color:#0057DF;
}
.logo a {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 10px;
}
#minha-agenda {
    height: 60px;
    font-weight: 700 ;
    line-height: 2;
    position: relative;
    top: 10px;  
    font-size: 20px;
}
#meus-servicos{
    color: #FFB800 !important;
    border-bottom: 7px solid #FFB800;
    color: white;
    font-weight: 700 ;
    line-height: 2;
    position: relative;
    top: 10px;
    padding-bottom: 15px;
    font-size: 20px;   
}

/*  MAIN   */

main {
    height: 70vh;
}

/* FORMULÁRIO */
.formBox {
    max-width: 600px;
    min-width: 400px;
    color: #5A5A5A;
}
.texto-card{
    font-size: 20px;
    font-weight: 400;
    font-family:'Encode Sans', sans-serif; 
    color: #5A5A5A;
}
.select-class {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    border: 2px solid rgb(109, 109, 109);
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
    font-family:'Encode Sans', sans-serif;
    font-size: 20px;
}
.text-area-class {
    width: 100%;
    border-radius: 10px;
    height: 120px;
    border: 2px solid rgb(109, 109, 109);
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
    font-family:'Encode Sans', sans-serif;
    font-size: 20px;

}

/* BOTAO */
#salvar-nome{
    
    font-weight: 700 ;
}

.botao {
    padding: 5px;
    width: 100%;
    background-color: #0057DF;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family:'Encode Sans', sans-serif;
}

.botao:hover {
    padding: 5px;
    width: 100%;
    background-color: #206de9;

    border-radius: 10px;
    color: rgb(167, 176, 255);
}

/* FOOTER */
.img-footer {
    width: 200px;
}

.opcao:hover {
    color: rgb(174, 174, 174);
}

.footer-item {
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 100px;

}
.texto-footer {
    font-family:'Encode Sans', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #00213E;
    text-align: end;
    line-height: 5px;
}
.texto1{
    padding-top: 15px;
}