@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* NAVEGAÇÃO */
.header-geral {
    background-color: #0057DF;
    height: 80px;
}
.navbar{
    background-color:#0057DF;
}
.logo a {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 10px;


}

#minha-agenda {
    height: 60px;
    font-weight: 700;
    line-height: 2;
    position: relative;
    top: 10px;  
    font-size: 20px;
}

.card-title {
    font-weight: 300;
}

#meus-servicos {
    color: #FFB800 !important;
    border-bottom: 7px solid #FFB800;
    color: white;
    font-weight: 700;
    line-height: 2;
    position: relative;
    top: 10px;
    padding-bottom: 15px;
    font-size: 20px;

}


/*  MAIN   */

main {
    height: 70vh;
}

/* FORMULARIO */
.card-title{
    font-family:'Encode Sans', sans-serif; 
    font-weight: 400;
    color: #5A5A5A;
}

.agendamentos-container {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #D9F8FF;
    border: 2px solid #5A5A5A;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    font-family:'Encode Sans', sans-serif; 
    font-weight: 400;
    color: #5A5A5A;
    
}
.texto-card{
    font-size: 20px;
    position: relative;
    top: 7px;
}



.main-container {
    width: 27%;
    min-width: 280px;
}

#meus-servicos-nome {
    text-align: left;
    font-weight: 400;
}




.img-icon {
    width: 14px;
}


/*   footer    */
.img-footer {
    width: 200px;
}

.opcao:hover {
    color: rgb(174, 174, 174);
}

.footer-item {
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 100px;

}

.texto-footer {
    font-family:'Encode Sans', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #00213E;
    text-align: end;
    line-height: 5px;
}
.texto1{
    padding-top: 15px;
}


/* BOTAO */

.botao {
    padding: 5px;
    width: 100%;
    background-color: #0057DF;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 10px;
    color: white;
}

#novo-servico-nome {
    font-weight: 700;
    font-family:'Encode Sans', sans-serif; 
    font-size: 20px;
}

.botao:hover {
    padding: 5px;
    width: 100%;
    background-color: #206de9;

    border-radius: 10px;
    color: rgb(167, 176, 255);
}
