@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/*  BARRA DE NAVEGAÇÃO */
.header-inteiro {
    background-color: #0057DF;
    height:80px ;
}
.navbar{
    background-color:#0057DF;
}
.logo a {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 10px;
}
#agendarservico {
    color:#FFB800;
    border-bottom: 7px solid #FFB800;
    font-weight: 700 ;
    line-height: 2;
    position: relative;
    top: 10px;
    padding-bottom: 15px;
    font-size: 20px;

}
#meusagendamentos {
    color: white;
    height: 60px;
    font-weight: 700 ;
    line-height: 2; 
    position: relative;
    top: 10px;  
    font-size: 20px;
}


/* body */
body{
    overflow:auto;
    height: 100vh;
}

.container-cards{
    width: 50.1%;
    margin-top: 2%;
    font-family: 'Encode Sans', sans-serif;
}
.vazio{
    margin: 0;
    padding: 0;
}
.container-h2{
    color: #5a5a5a;
    margin-bottom: 4%;
    text-align: center;
    font-weight: 600;
}
.card{
    background-color: rgb(230, 227, 227);
    border: 2px solid #5a5a5a;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}
.cards{
    position: relative;
    left: 50px;
    top: 50px;
    align-items: center;
}
.img-card1{
    width: 230px;
    margin-bottom: 12px;
}
.img-card2{
    width: 200px;
}
.botao-cards{
    margin-top: 20px;
    width: 60%;
}

.botao-color{
    background-color: #0057DF !important;
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-top: 1%;
    margin-bottom: 20px;
    border: 3px solid #5A5A5A;
    border-radius: 15px;
}
.btn2{
    position: relative;
    right: 25px;
}

/*FOOTER*/
.img-footer {
    width: 200px;
}

.item-footer {
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 100px;

}

.texto-footer {
    font-family:'Encode Sans', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #00213E;
    text-align: end;
    line-height: 5px;
    
}
.texto1{
    padding-top: 15px;
}